@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
<div id="redis-config" class="row">
    <div class="col-lg-2 alert-info">
        <h5>Redis Configuration</h5>
        <p><span class="label label-default"> Name</span>@ViewData["Name"]</p>
        <p><span class="label label-default">Host</span>@ViewData["Host"]</p>
        <p><span class="label label-default">Port</span>@ViewData["Port"]</p>
    </div>
    <div class="col-lg-2 alert-info">
        <h5>Redis Session</h5>
        <p><span class="label label-default"> Session ID</span>@ViewData["SessionID"]</p>
        <p><span class="label label-default"> Data</span>@ViewData["Hello"]</p>
        <p><span class="label label-default"> Distributed Cache</span>@ViewData["DistCache"]</p>
    </div>
</div>
</div>